<?xml version="1.0"?>
<launch>

	<!-- define arguments -->
	<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
	<arg name="pkg_robot_config" default="$(find cob_default_robot_config)"/>
	<arg name="initial_config" default=""/>

	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  
       <include file="$(find gazebo_ros)/launch/empty_world.launch">
       <arg name="world_name" value="$(find my_better_environment)/worlds/envi_3.world"/>
       <!-- more default parameters can be changed here -->
       </include>
  
       <!-- include our robots -->
       <include file="$(find my_better_environment)/launch/robots.launch">
       </include>
       
       <!-- startup simulated robot -->
	<include file="$(find my_better_environment)/launch/cob_robo.launch" >
		<arg name="robot" value="$(arg robot)" />
		<arg name="pkg_robot_config" value="$(arg pkg_robot_config)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="initial_config" value="$(arg initial_config)"/>
	</include>
  
  
 
</launch>
